[alias]
  l = log --pretty=format:\"%C(yellow)%h%Creset - %an, %ad%n  %s%n\"
  s = status -s
  d = diff
  ds = diff --staged
  p = push
  pull = !"git pull; git submodule foreach git pull origin master"
  c = clone --recursive
  co = checkout
  ci = commit
  cia = commit --amend
  amend = commit --amend --reuse-message=HEAD
  r = reset
  rhh = reset --hard HEAD
  br = branch
  a = add
  fb = "!f() { git branch -a --contains $1; }; f"
  nicelog = log --graph --oneline --decorate
  dm = "!git branch --merged | grep -v '\\*' | grep -v 'master' | xargs -n 1 git branch -d"
  t = show-ref --tags

[color]
  ui = true

[core]
  editor = /usr/bin/vim

[help]
  autocorrect = 1

[push]
  default = simple

[user]
	name = Albin Englund

